<div class="animate__animated animate__fadeIn">
    <h2>Por País</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-pais-input
              (onEnter)="buscar( $event )"
              (onDebounce)="sugerencias( $event )"
              placeholder="Buscar país..."
            >
            </app-pais-input>
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias"
        class="list-group">
        <li 
            *ngFor="let paisSugerido of paisesSugeridos"
            class="list-group-item list-group-item-action"
        >
            <a 
                class="nav-link"
                [routerLink]="['/pais', paisSugerido.altSpellings[0]]">
                {{ paisSugerido.name.common }}
            </a>
        </li>

        <li 
            class="list-group-item list-group-item-action"
        >
            <a 
                (click)="buscar(termino)"
                class="nav-link">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>
</div>

<hr>

<div
    *ngIf="hayError"
    class="alert alert-danger"
>
    No se encontro nada con el término {{ termino }}
</div>

<div
    *ngIf="paises.length > 0"
    class="row"
>
    <div class="col">

        <app-pais-tabla 
            [paises]="paises"
        >
        </app-pais-tabla>

    </div>
</div>